#cropArea{
border:2px solid blue;
background-color:grey;
width:350px;
z-index:1;

}

#cropArea img{
    position:absolute;  
}

.cropper{
    border:3px dotted red;
	position: absolute;
	background-color:blue;
	opacity:0.5;
	width:100px;
    height:100px;
	z-index: 5;
    cursor:pointer;	
}

.cropperA{
	border:3px dotted red;
	position: absolute;
     
	background-color:green;
	opacity:0.5;
	width:100px;
        height:100px;
	z-index: 6;
        cursor:pointer;
}